In [1]:
# Description: Preprocessing of tamilmurasu dataset

import os
import pandas as pd
import numpy as np
file_path = "../data/"

data = pd.read_csv(file_path+"tamilmurasu_dataset.csv")

data.describe()

             news_id
count  126746.000000
mean    63962.193852
std     36820.892569
min         6.000000
25%     32100.250000
50%     64054.500000
75%     95820.750000
max    127725.000000

In [2]:
# Apply cleaning function to the title column

import re

def clean(content):
    if not content:
        return ""
    CLEAN_HTML = re.compile("<.*?>|&([a-z0-9]+|#[0-9]{1,6}|#x[0-9a-f]{1,6});")
    CLEAN_ALPHA = re.compile(".*?[A-Za-z0-9].*?")
    CLEAN_PUNCT = re.compile(r"[%\"&.;:`!\'?,\"()\[\]-|’‘-“”-]")
    CLEAN_WHITE = re.compile(r"\s{2,}")

    content = re.sub(CLEAN_HTML, " ", content)
    content = re.sub(CLEAN_ALPHA, " ", content)
    content = re.sub(CLEAN_PUNCT, "", content)
    content = re.sub(CLEAN_WHITE, " ", content)
    content = content.strip()
    return content


data["news_title"] = data["news_title"].apply(clean)

In [3]:
# Remove duplicates

data.drop_duplicates(keep=False, inplace=True,subset=['news_title'])

data.describe()

             news_id
count  109735.000000
mean    64784.908461
std     36785.854075
min         6.000000
25%     33220.500000
50%     65430.000000
75%     96460.500000
max    127724.000000

In [4]:
# Remove null values

data.dropna(inplace=True)

data=data[:50000]

In [5]:
# Save the preprocessed data

data.to_csv(file_path+"train.csv", index=False)