In [1]:
import os
import pandas as pd
import numpy as np
file_path = "../data/"

data = pd.read_csv(file_path+"tamilmurasu_dataset.csv")

data.describe()

             news_id
count  126746.000000
mean    63962.193852
std     36820.892569
min         6.000000
25%     32100.250000
50%     64054.500000
75%     95820.750000
max    127725.000000

In [2]:
import re

CLEAN_ALPHA = re.compile("[a-zA-Z0-9 ]+")
CLEAN_PUNCT = re.compile(r"[&.;:`!\'?,\"()\[\]-|’‘-]")
CLEAN_MONEY = re.compile(r"ரூ.")
CLEAN_SINGLE = pattern = re.compile(r'\s+[^\u0B80-\u0BFF]{0,1}\s+')
CLEAN_M = re.compile(r"\sம்\s")
CLEAN_MULTIPLE = re.compile(r"\.{2,}")
CLEAN_WHITE = re.compile(r"\s{2,}")


def clean(text):
    text = text.replace(CLEAN_ALPHA, " ", regex=True)
    text = text.replace(CLEAN_PUNCT, "", regex=True)
    text = text.replace(CLEAN_MONEY, "", regex=True)
    text = text.replace(CLEAN_MULTIPLE, " ", regex=True)
    text = text.replace(CLEAN_SINGLE, " ", regex=True)
    text = text.replace(CLEAN_M, "", regex=True)
    text = text.replace(CLEAN_WHITE, " ", regex=True)
    text.map(lambda x: ''.join(x.splitlines()))

    return text


data["news_title"] = clean(data["news_title"])
data["news_title"] = data["news_title"].str.strip()

In [3]:
data.drop_duplicates(keep=False, inplace=True,subset=['news_title',"news_article"])

data.describe()

             news_id
count  126746.000000
mean    63962.193852
std     36820.892569
min         6.000000
25%     32100.250000
50%     64054.500000
75%     95820.750000
max    127725.000000

In [4]:
data.dropna(inplace=True)

data=data[:10000]

In [5]:
data.to_csv("/Users/samyuktha/FYP/data/train.csv", index=False)